body{
    background-color:bisque;
}

.button{
    display: inline-block;
    padding: 5px 5px;
    border: 2px solid;
    cursor: pointer;
}

#city_select{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.div_table_pol th{ 
    background-color:deepskyblue;
}

.div_table_pol td{ 
    border: ridge;
}

.div_table_pol{
    width: 30%;
    display: block;
    border: double;
    display: flex;
    justify-content: center;
    margin: auto;
}

.zscroll-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    }

.table_pol{
    background: azure;
    table-layout: fixed;
    width: 100%;
}
