body{
    background-color:bisque;
}

.chart{
    padding: 20px 0px 0px 300px;
}
.button{
    display: inline-block;
    padding: 5px 5px;
    border: 2px solid;
    cursor: pointer;
}

#city_select{
    height: 10%;
    width: 100%;
    justify-content: center;
    padding: 15px 0px 15px 785px;
}

.div_table_pol th{ 
    background-color:deepskyblue;
}

.div_table_pol td{ 
    border: ridge;
}

.div_table_pol{
    width: 30%;
    border: double;
    justify-content: center;
    margin: auto;
    display: none;
}

.zscroll-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    }

.table_pol{
    background: azure;
    table-layout: fixed;
    width: 100%;
}
